pipeline/pl_filter_demo.json
{
	"name": "pl_filter_demo",
	"properties": {
		"activities": [
			{
				"name": "Filter by Gender",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Fetch Emp Data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Fetch Emp Data').output.value",
						"type": "Expression"
					},
					"condition": {
						"value": "@equals(item().gender,'Male')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Fetch Emp Data",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "ds_input_txt_ananta_dyn",
						"type": "DatasetReference",
						"parameters": {
							"fileName": "EmpData.csv"
						}
					},
					"firstRowOnly": false
				}
			}
		],
		"folder": {
			"name": "Ananta"
		},
		"annotations": [],
		"lastPublishTime": "2025-07-23T05:16:02Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}