pipeline/pl_multiple_pipeline_br_5_using_lookup_csv.json
{
	"name": "pl_multiple_pipeline_br_5_using_lookup_csv",
	"properties": {
		"activities": [
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"batchCount": 4,
					"activities": [
						{
							"name": "Switch2",
							"type": "Switch",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"on": {
									"value": "@item().pipeline_name",
									"type": "Expression"
								},
								"cases": [
									{
										"value": "pipeline_1",
										"activities": [
											{
												"name": "Execute Pipeline1_",
												"type": "ExecutePipeline",
												"dependsOn": [],
												"policy": {
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"pipeline": {
														"referenceName": "pipeline2",
														"type": "PipelineReference"
													},
													"waitOnCompletion": true
												}
											}
										]
									},
									{
										"value": "pipeline_2",
										"activities": [
											{
												"name": "Execute Pipeline2_",
												"type": "ExecutePipeline",
												"dependsOn": [],
												"policy": {
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"pipeline": {
														"referenceName": "pipeline3",
														"type": "PipelineReference"
													},
													"waitOnCompletion": true
												}
											}
										]
									},
									{
										"value": "pipeline_3",
										"activities": [
											{
												"name": "Execute Pipeline3_",
												"type": "ExecutePipeline",
												"dependsOn": [],
												"policy": {
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"pipeline": {
														"referenceName": "pipeline4",
														"type": "PipelineReference"
													},
													"waitOnCompletion": true
												}
											}
										]
									},
									{
										"value": "pipeline_4",
										"activities": [
											{
												"name": "Execute Pipeline4_",
												"type": "ExecutePipeline",
												"dependsOn": [],
												"policy": {
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"pipeline": {
														"referenceName": "pipeline5",
														"type": "PipelineReference"
													},
													"waitOnCompletion": true
												}
											}
										]
									}
								],
								"defaultActivities": [
									{
										"name": "_Default Waiting",
										"type": "Wait",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"waitTimeInSeconds": 1
										}
									}
								]
							}
						}
					]
				}
			},
			{
				"name": "Dummy Pipeline",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pipeline1",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "Lookup",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Dummy Pipeline",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "ds_pipeline_to_run_dyn",
						"type": "DatasetReference",
						"parameters": {
							"Config_File_Name": {
								"value": "@pipeline().globalParameters.Config_File_Name",
								"type": "Expression"
							},
							"Container_Name": {
								"value": "@pipeline().globalParameters.paramfile",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": false
				}
			}
		],
		"folder": {
			"name": "Ananta"
		},
		"annotations": [],
		"lastPublishTime": "2025-08-21T06:40:39Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}